<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
link(href = '/libs/normalize-css/normalize.css', rel='stylesheet')
link(href = '/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href = '/style/login.css', rel='stylesheet')
link(href = '/style/index.css', rel='stylesheet')
