.yue-left-fixed
  .left-navbar-logo
    span 悦读
    span.glyphicon.glyphicon-chevron-left.chevron-left
  .yue-left-navbar
    nav.yue-nav-item
      a(href="").active
        span.glyphicon.glyphicon-home.icon-font
        span.item-content 首页
      //a(href="")
        span.glyphicon.glyphicon-globe.icon-font
        span.item-content 最新
      a(href="")
        span.glyphicon.glyphicon-dashboard.icon-font
        span.item-content 热门
      a(href="")
        span.glyphicon.glyphicon-globe.icon-font
        span.item-content 生活
      a(href="")
        span.glyphicon.glyphicon-camera.icon-font
        span.item-content 图片故事
      a(href="")
        span.glyphicon.glyphicon-send.icon-font
        span.item-content IT世界
      a(href="") 
        span.glyphicon.glyphicon-th-large.icon-font
        span.item-content 专题
      a(href="") 
        span.glyphicon.glyphicon-th.icon-font
        span.item-content 更多