.yue-left-fixed#left-sidebar
  .left-navbar-logo
    span 悦读
    svg.chevron-left(width="32px" height="32px" viewBox="0 0 36 36" fill="#757575")
      path(d="M23.12 11.12L21 9l-9 9 9 9 2.12-2.12L16.24 18z")
  .yue-left-navbar
    nav.yue-nav-item
      a(href="/").tagItem.active
        span.glyphicon.glyphicon-home.icon-font
        span.item-content 首页
      //a(href="" target="_blank")
        span.glyphicon.glyphicon-globe.icon-font
        span.item-content 最新
      a(href="/hots").tagItem
        span.glyphicon.glyphicon-dashboard.icon-font
        span.item-content 热门
      a(href="/life").tagItem
        span.glyphicon.glyphicon-globe.icon-font
        span.item-content 生活
      a(href="/story").tagItem
        span.glyphicon.glyphicon-camera.icon-font
        span.item-content 图片故事
      a(href="/it").tagItem
        span.glyphicon.glyphicon-send.icon-font
        span.item-content IT世界
      a(href="javascript:void(null);") 
        span.glyphicon.glyphicon-th-large.icon-font
        span.item-content 专题
      a(href="javascript:void(null);") 
        span.glyphicon.glyphicon-th.icon-font
        span.item-content 更多