.container-fluid.header
	.row.navbar.yue-top-bar
		.col-xs-10.col-sm-10.col-md-10
			.wrap-icon
				.yue-left-icon
					svg(width="24px" height="24px" viewBox="0 0 48 48")
						path(d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z")
			.yue-top-search.clearfix
				.yue-logo-font
					a(href="/" style="cursor: pointer") 悦读
					// a(href='/')	浏览	
				.yue-input-search
					form(action="post").yue-form-control
						span.glyphicon.glyphicon-search
						input(type="search", placeholder='搜索')
		.col-xs-2.col-sm-2.col-md-2.clear-padding
			.navbar-collapse.navbar-right.login
				a#register(href="/login") 注册
				a#login(href="/signup") 登录