@charset "UTF-8";
/*
 * 2015-12-19
 * the home page style documetn 
*/
/* 
 * base style
 */
/* 
 * 2015-12-21
 * Variables
 */
/* Font size */
/* heading font size */
/* backgroundcolor */
/* font color */
/* link font color */
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-align: justify;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F5F5; }

@media only screen and (min-width: 750px) {
  html, body {
    font-size: 16px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html, body {
    font-size: 14px; }

  h1 {
    font-size: 32px; } }
ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none; }

/* 
 * 顶部栏样式
 */
/*  op navbar  */
/*  Font size  */
/*  line height  */
/* 
 * header
 */
/********************************/
/* 2016-02-24 */
.no-padding {
  padding-left: 0;
  padding-right: 0; }

.flex-box, .md-layout, .top-nav, .drawer-btn, .yue-navbar, .yue-form-search, .nav-group, .nav-group .avatar, .nav-group .user-car-top, .yue-left-navbar a, .yue-nav-item {
  /* 兼容旧版浏览器 */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /* 新版浏览器 */
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }

.vertical-center, .md-layout, .drawer-btn, .yue-navbar, .yue-form-search, .nav-group .avatar, .nav-group .user-car-top, .yue-left-navbar a {
  /* 垂直居中 */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.horizontal-center, .drawer-btn, .nav-group .avatar {
  /* 水平居中 */
  /* 兼容旧版浏览器，移动端360浏览器，及UC */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  /* 新版浏览器 */
  -webkit-justify-content: center;
  justify-content: center; }

.md-layout {
  flex-flow: row nowrap;
  white-space: nowrap; }

/* ************************** */
.top-nav {
  position: relative;
  width: 100%;
  height: 68px;
  background-color: cornflowerblue;
  z-index: 9; }

.drawer-btn {
  width: 68px;
  height: 68px;
  background-color: orange;
  cursor: pointer; }
  .drawer-btn svg {
    fill: #FFF; }

.yue-navbar {
  height: 68px;
  white-space: nowrap; }

.yue-logo-title {
  display: inline-block;
  margin-left: 10px;
  color: #FFF;
  font-size: 2em;
  -moz-user-select: 　none;
  /*火狐*/
  　-webkit-user-select: 　none;
  /*webkit浏览器*/
  　-ms-user-select: 　none;
  /*IE10*/
  　-khtml-user-select: 　none;
  /*早期浏览器*/
  　user-select: 　none; }

/* begin width < 480px下，隐藏 logo-font */
@media (max-device-width: 480px), (max-width: 480px) {
  .yue-logo-title {
    font-size: 18px;
    margin-left: 8px; }

  .drawer-btn {
    width: 48px; } }
/* end  */
.yue-form-search {
  min-height: 48px;
  padding-left: 10px;
  background-color: #83a4e0; }

@media (min-width: 768px) {
  .yue-form-search {
    width: 480px;
    margin-left: 60px; } }
@media (min-width: 970px) {
  .yue-form-search {
    width: 600px; } }
@media (min-width: 1024px) {
  .yue-form-search {
    width: 800px;
    margin-left: 120px; } }
@media (max-width: 768px) {
  .yue-form-search {
    margin-left: 60px; } }
@media (max-width: 480px) {
  .yue-form-search {
    width: 60%;
    margin-left: 18px; } }
.yue-form-search input::-moz-placeholder {
  color: #FFF; }

.yue-form-search input::-webkit-input-placeholder {
  color: #FFF; }

.yue-form-search input:-ms-input-placeholder {
  color: #FFF; }

.yue-form-search input {
  width: 100%;
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 16px;
  color: #FFF;
  border: none;
  /* 隐藏input　获得光标时显示的边框*/
  outline: medium;
  background-color: transparent; }

.search-icon {
  color: #FFF; }

/* nav group */
.nav-group {
  position: relative;
  width: 100%;
  min-height: 48px;
  justify-content: flex-end; }
  .nav-group li {
    height: 68px; }
  .nav-group a {
    display: inline-block;
    padding-left: 4px;
    color: #FFF; }
  .nav-group .avatar {
    width: 68px;
    height: 68px;
    padding-left: 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer; }
    .nav-group .avatar img {
      width: 58px;
      height: 58px;
      border-radius: 48px;
      border: 2px solid #9853c9; }
  .nav-group .user-car {
    position: absolute;
    top: 68px;
    right: 0;
    width: 300px;
    display: none;
    padding-top: 10px; }
    .nav-group .user-car:before {
      content: '';
      float: right;
      width: 0;
      height: 0;
      display: inline-block;
      margin-right: 25px;
      margin-top: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #6495ED; }
  .nav-group .user-car-inner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }
  .nav-group .user-car-top {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6495ED; }
    .nav-group .user-car-top img {
      width: 68px;
      height: 68px;
      border-radius: 68px;
      border: 2px solid #FFF; }
    .nav-group .user-car-top .user-meta {
      padding-left: 15px; }
    .nav-group .user-car-top .user-post {
      padding-top: 8px; }
  .nav-group .user-car-footer {
    position: relative;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #EEE; }
    .nav-group .user-car-footer a {
      position: absolute;
      color: #333; }
    .nav-group .user-car-footer a:nth-child(1) {
      bottom: 0; }
    .nav-group .user-car-footer a:nth-child(2) {
      right: 15px;
      bottom: 0; }
    .nav-group .user-car-footer i {
      padding-right: 8px; }

@media (max-device-width: 480px), (max-width: 480px) {
  .nav-group {
    display: none; } }
/* 
 * leftsidebar 左侧边栏
 */
.sidebar-animate, .yue-left-fixed {
  transition: transform .2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }

.flex-box, .md-layout, .top-nav, .drawer-btn, .yue-navbar, .yue-form-search, .nav-group, .nav-group .avatar, .nav-group .user-car-top, .yue-left-navbar a, .yue-nav-item {
  /* 兼容旧版浏览器 */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /* 新版浏览器 */
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }

.vertical-center, .md-layout, .drawer-btn, .yue-navbar, .yue-form-search, .nav-group .avatar, .nav-group .user-car-top, .yue-left-navbar a {
  /* 垂直居中 */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.yue-left-fixed {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%; }

.left-navbar-logo {
  display: none; }

.chevron-left {
  cursor: pointer; }

/* 隐藏左侧栏 */
.not-visible {
  transition: transform .2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px); }

/* screen width > 768px display */
.yue-left-navbar {
  width: 100%;
  max-width: 100%;
  margin-top: 64px; }
  .yue-left-navbar a {
    width: 100%;
    padding-left: 15px;
    line-height: 48px;
    color: #333;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .yue-left-navbar a:visited, .yue-left-navbar a:hover {
      background-color: #EEE; }
    .yue-left-navbar a .icon-font {
      display: inline-block;
      font-size: 18px; }
    .yue-left-navbar a .item-content {
      margin-left: 20px; }
  .yue-left-navbar .active {
    color: cornflowerblue;
    background-color: #EEE; }

.yue-nav-item {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 16px; }

@media (max-width: 1280px) {
  .yue-left-fixed {
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
    background-color: #FFF; }

  .left-navbar-logo {
    /* 兼容旧版浏览器 */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    /* 新版浏览器 */
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 68px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px solid #ddd; }

  .yue-left-navbar {
    margin-top: 0; } }
/*-------------content----------------*/
.yue-main-content {
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  transition: transform .2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transform-style: preserve-3d;
  white-space: nowrap; }

.yue-content {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  z-index: 8; }

@media only screen and (min-width: 992px) {
  .yue-main-content {
    width: 960px;
    margin: auto;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }
@media only screen and (max-width: 1280px) {
  .yue-main-content {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important; } }
@media only screen and (max-width: 750px) {
  .yue-main-content {
    margin: 0 auto !important; } }
.yue-content-post {
  max-width: 530px;
  min-width: 280px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 15px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0px 3px 3px #ccc;
  white-space: normal; }
  .yue-content-post .user-info {
    position: relative;
    line-height: 36px;
    text-align: left;
    vertical-align: middle;
    padding-top: 13px;
    padding-bottom: 13px; }
    .yue-content-post .user-info .user-logo {
      width: 36px;
      height: 36px;
      line-height: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 36px;
      font-size: 24px;
      color: cornflowerblue;
      border: 1px solid #333; }
    .yue-content-post .user-info .user-name {
      display: inline-block;
      color: #222;
      margin-left: 10px; }
    .yue-content-post .user-info .post-time {
      position: absolute;
      right: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-weight: normal; }
  .yue-content-post .article-title {
    padding-top: 10px;
    padding-bottom: 18px;
    text-align: left;
    word-wrap: break-word; }
    .yue-content-post .article-title a {
      font-size: 20px;
      transition: all 0.5s; }
      .yue-content-post .article-title a:hover {
        color: #666; }
  .yue-content-post .img-box {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px; }
    .yue-content-post .img-box .img {
      /* 	left: 0;
      		top: 0;
      		right: 0;
      		bottom:0; */
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto; }
  .yue-content-post .post-footer {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px; }
    .yue-content-post .post-footer a {
      display: inline-block;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      margin-right: 8px;
      margin-left: 5px; }
    .yue-content-post .post-footer .icon-heart {
      display: inline-block;
      font-size: 14px; }

.fixed-icon-pen {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 56px;
  text-align: center;
  z-index: 10;
  background-color: cornflowerblue;
  box-shadow: 2px 2px 5px #333; }
  .fixed-icon-pen .icon-pen {
    display: inline-block;
    line-height: 56px;
    font-size: 24px;
    text-align: center;
    color: #FFF; }

/*# sourceMappingURL=index.css.map */
