/*
Sass::SyntaxError: ".yue-left-navbar a" failed to @extend ".flex-box".
The selector ".flex-box" was not found.
Use "@extend .flex-box !optional" if the extend should be able to fail.


Backtrace:
public/sass/LeftNavbar.scss:44
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/tree/visitors/extend.rb:65:in `block in check_extends_fired!'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/util/subset_map.rb:105:in `block in each_value'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/util/subset_map.rb:105:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/util/subset_map.rb:105:in `each_value'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/tree/visitors/extend.rb:16:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:39:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:412:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".yue-left-navbar a\" failed to @extend \".flex-box\".\A The selector \".flex-box\" was not found.\A Use \"@extend .flex-box !optional\" if the extend should be able to fail.\A "; }
