@charset "UTF-8";
/* 
 * post.scss by leiyu
 * 29-12-2015
 */
/* 
 * base style
 */
/* 
 * 2015-12-21
 * Variables
 */
/* Font size */
/* heading font size */
/* backgroundcolor */
/* font color */
/* link font color */
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-align: justify;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F5F5; }

@media only screen and (min-width: 750px) {
  html, body {
    font-size: 16px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html, body {
    font-size: 14px; }

  h1 {
    font-size: 32px; } }
ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none; }

/* top bar backgroundcolor */
a {
  transition: all 0.7s; }

.header {
  background-color: #6C6; }

.post-logo-font {
  display: inline-block;
  margin-left: 35px; }

.article-wrap {
  max-width: 700px;
  padding: 20px;
  margin-top: 64px;
  overflow: hidden;
  background-color: #FFF; }

/* author information */
.author-info {
  margin-bottom: 35px;
  padding-bottom: 15px;
  -webkit-text-align: justify;
  text-align: justify;
  border-bottom: 1px solid #EEE; }

@media (max-width: 480px), (max-decive-width: 480px) {
  .author-info {
    display: none; } }
/* author logo */
.avatar {
  display: inline-block;
  overflow: hidden; }
  .avatar img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 50%; }

.about {
  margin-left: -15px; }
  .about .author {
    font-size: 1.5em; }

/* follow button */
.follow {
  display: table;
  height: 35px;
  padding: 26px 0;
  text-align: center;
  vertical-align: middle;
  /* add icon */ }
  .follow a {
    display: table-cell;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #EEE;
    border-radius: 21px;
    transition: all 0.5s;
    background-color: #6C6; }
    .follow a:hover {
      color: #FFF; }
  .follow .add-icon {
    padding-right: 5px; }

.title {
  /* 允许字符过长时，换行，注意与word-break的区别 */
  word-wrap: break-word; }

/* post cover imgage */
.img {
  position: relative;
  width: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  overflow: hidden; }
  .img img {
    max-width: 100%;
    height: auto;
    margin: auto; }

.meta-article {
  font-size: 12px;
  margin-bottom: 10px; }
  .meta-article .meta-item {
    margin-right: 15px; }
  .meta-article .meta-icon, .meta-article .all-num {
    padding-right: 3px;
    padding-left: 3px; }
  .meta-article .author-name {
    display: none;
    margin-right: 15px; }
  @media (max-width: 480px) {
    .meta-article .author-name {
      display: inline-block; }
    .meta-article .readed, .meta-article .collection, .meta-article .comment {
      display: none; } }

/* main content */
.show-content {
  line-height: 2;
  overflow: hidden; }
  .show-content ul, .show-content ol, .show-content span, .show-content p {
    -webkit-text-align: justify;
    text-align: justify;
    word-break: break-all; }

/* content footer */
.meta-bottom {
  margin-top: 60px;
  margin-bottom: 20px; }
  .meta-bottom .btn-collection {
    display: inline-block;
    width: 120px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: -15px;
    text-align: center;
    color: #EEE;
    border-radius: 20px;
    transition: all 0.5s;
    background-color: #6C6; }
    .meta-bottom .btn-collection:hover {
      color: #FFF; }
  .meta-bottom .share-link {
    padding: 10px; }

/* comment */
.comment {
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #FFCBCB; }

.comment-head {
  position: relative; }

.hide-area {
  display: none; }

.comment-area {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap; }

.commet-text {
  padding: 10px;
  width: 100%;
  height: 120px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #FFCBCB; }

.comment-btn {
  width: 70px; }

.add-comment {
  position: absolute;
  right: 0;
  width: 90px;
  transition: all 0.5s;
  display: inline-block;
  color: #999;
  cursor: pointer; }
  .add-comment:hover {
    color: #333; }

.comment-item {
  padding: 15px 0;
  border-bottom: 1px solid #E5E5E5; }
  .comment-item .commenter-info {
    margin-bottom: 15px; }
  .comment-item .user-logo {
    width: 40px;
    height: 40px;
    display: inline-block; }
    .comment-item .user-logo img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 2px;
      transition: all 0.5s; }
      .comment-item .user-logo img:hover {
        border: 1px solid cornflowerblue; }
  .comment-item .commenter-name {
    padding-left: 10px; }

.content p {
  -webkit-text-align: justify;
  text-align: justify;
  word-break: break-all; }

.comment-footer a {
  color: #999;
  padding-left: 15px;
  transition: all 0.5s; }
  .comment-footer a:hover {
    color: #333; }
.comment-footer .comment-time {
  color: #999; }
.comment-footer .icon-font {
  font-size: 12px;
  padding-right: 2px; }

/*# sourceMappingURL=post.css.map */
