/*
 * 2015-12-19
 * the home page style documetn 
*/

// ----------------import sass file----------------

@import "./base.scss";
@import "./TopNavbar.scss";
@import "./LeftNavbar.scss";

/*-------------content----------------*/
#main {
	margin-top: 64px;
}
.yue-main-content {
	position: relative;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	white-space: nowrap;
}
.yue-content {
	width: 100%;
	@include Padding(15px, null, null, null);
	text-align: center;
	z-index: 8;
}
@media only screen and (min-width: 750px) {
	.yue-main-content {
 		@include Margin(null, null, null, 210px);
	}
}
@media only screen and (max-width: 750px) {
	.yue-main-content {
 		margin: 0 auto !important;
	}
}
// @media only screen and (min-device-width: 320px) and (max-width: 480px) {
// 	.yue-main-content {
//  		@include Margin(null, null, null, 80px);
// 	}
// }
// post article
.yue-content-post {
	max-width: 530px;
	min-width: 280px;
	@include Padding(null, 15px, null, 15px);
	margin: 0 auto 15px;
	background-color: $white;
	overflow: hidden;
	@include BoxShadow(0px, 3px, 3px, #ccc);
	white-space: normal;

	.user-info {
		position: relative;
		line-height: 36px;
		text-align: left;
		vertical-align: middle;
		@include Padding(13px, null, 13px, null);

		.user-logo {
			width: 36px;
			height: 36px;
			line-height: 36px;
			display: inline-block;
			text-align: center;
			border-radius: 36px;
			font-size: 24px;
			color: cornflowerblue;
			border: 1px solid #333;
		}
		.user-name {
			display: inline-block;
			color: #222;
			margin-left: 10px;
		}
		.post-time {
			position: absolute;
			right: 0;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			font-weight: normal;

		}
	}
	// article title
	.article-title {
		@include Padding(10px, null, 18px, null);
		text-align: left;
		word-wrap: break-word;

		a {
			font-size: 20px;
			// color: #999;
			transition: all 0.5s;
			&:hover {
				color: #666;
			}
		}
	}
	.img-box {
		position: relative;
		display: block;
		height: auto;
		width: auto;
		overflow: hidden;
		@include Margin(null, -15px, null, -15px);

		.img {
	/* 		left: 0;
			top: 0;
			right: 0;
			bottom:0; */
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}
	}
	// post footer --click, comment, love
	.post-footer {
		text-align: right;
		@include Margin(15px, null, 15px, null);

		a {
			display: inline-block;
			font-size: $font-size-smaller;
			text-align: center;
			vertical-align: middle;
			@include Margin(null, 8px, null, 5px);
		}
		.icon-heart {
				display: inline-block;
				font-size: $font-size-small;
			}
	}
}
// pencile 写文章图标
.fixed-icon-pen {
	position: fixed;
	bottom: 50px;
	right: 20px;
	width: 56px;
	height: 56px;
	line-height: 56px;
	border-radius: 56px;
	text-align: center;
	z-index: 10;
	background-color: $cornflowerblue;
	@include BoxShadow(2px, 2px, 5px, #333);

	.icon-pen {
		display: inline-block;
		line-height: 56px;
		font-size: 24px;
		text-align: center;
		color: $white;
	}
}