/* 
 * leftsidebar 左侧边栏
 */
.sidebar-animate {
	transition: transform .2s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform-style: preserve-3d;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.yue-left-fixed {
	@extend .sidebar-animate;
	position: absolute;
	left: 0;
	top: 0;
	width: 240px;
	height: 100%;
}
.left-navbar-logo {display: none;}
.chevron-left {cursor: pointer;}
/* 隐藏左侧栏 */
.not-visible {
	transition: transform .2s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform-style: preserve-3d;
	-webkit-transform: translateX(-240px);
	transform: translateX(-240px);
}
/* screen width > 768px display */
@media screen and (max-width: 768px) {
	.yue-left-fixed {
		// display: block;
		// width: 210px;
	}
}
.yue-left-navbar {
	width: 100%;
	max-width: 100%;
	margin-top: 64px;
	a {
		width: 100%;
		@extend .flex-box, .vertical-center;
		padding-left: 15px;
		line-height: 48px;
		color: #333;
		transition: background-color .3s cubic-bezier(0,0,0.2,1);
		&:visited,
		&:hover {
			background-color: #EEE;
		}

		.icon-font {
			display: inline-block;
			font-size: 18px;
		}
		.item-content {
			margin-left: 20px;
		}
	}
	.active {
		color: cornflowerblue;
		background-color: #EEE;
	}
}
.yue-nav-item {
	@extend .flex-box;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding-top: 16px;
}

@media (max-width: 1280px) {
	.yue-left-fixed {
		-webkit-transform: translateX(-240px);
		transform: translateX(-240px);
	  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
	  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
		z-index: 9;
		background-color: #FFF;
	} 
	.left-navbar-logo {
		// @extend .flex-box, .vertical-center;
		/* 兼容旧版浏览器 */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		/* 新版浏览器 */
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		-webkit-box-align: center; 
	  -moz-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
		width: 100%;
		height: 68px;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 16px;
		font-size: 1.5em; 
		color: #333;
		border-bottom: 1px solid #ddd;
	}
	.yue-left-navbar {margin-top: 0;}
}
