/* 
 * post.scss by leiyu
 * 29-12-2015
 */

 @import "./base.scss";
.article-wrap {
	max-width: 700px;
	padding: 20px;
	overflow: hidden;
	background-color: #FFF;
}
.author-info {
	margin-bottom: 35px;
	padding-bottom: 15px;
	-webkit-text-align: justify;
	text-align: justify;
	border-bottom: 1px solid #EEE;
}
@media (max-width: 480px),(max-decive-width: 480px) {
	.author-info {
		display: none;
	}
}
.avatar {
 	display: inline-block;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		margin: auto;
		border-radius: 50%;
	}
}
.about {
 	margin-left: -15px;
	.author {
		font-size: 1.5em;
	}
}
.follow {
	display: table;
	height: 35px;
	padding: 26px 0;
	text-align:center;
	vertical-align: middle;

	a {
		display: table-cell;
		width: 100%;
		height: 35px;
		line-height: 35px;
		text-align: center;
		vertical-align: middle;
		font-size: 14px;
		color: #FFF;
		border-radius: 21px;
		background-color: $cornflowerblue;
	}
	.add-icon {
		padding-right: 5px;
	}
}
.title {
	/* 允许字符过长时，换行，注意与word-break的区别 */
	word-wrap: break-word;
}
.img {
	position: relative;
 	width: auto;
 	text-align: center;
 	margin-top: 40px;	
 	margin-bottom: 30px;
	overflow: hidden;
 	img {
 		width: 100%;
 		height: auto;
 		margin: auto;
 	}
}
.meta-article {
	font-size: 12px;
	margin-bottom: 10px;
	.meta-item {
		margin-right: 15px;
	}
	.meta-icon, .all-num{
		padding-right: 3px;
		padding-left: 3px;
	}
	.author-name {
		display: none;
		margin-right: 15px;
	}
	@media (max-width: 480px) {
		.author-name {
			display: inline-block;
		}
		.readed, .collection, .comment {
			display: none;
		}
	}
}
.show-content {
	overflow: hidden;

	ul, ol, span, p {
		-webkit-text-align: justify;
		text-align: justify;
		word-break: break-all;
	}
}
.meta-bottom {
	margin-top: 60px;
	margin-bottom: 20px;
	// border-bottom: 1px solid #EEE;
	
	.btn-collection {
		display: inline-block;
		width: 120px;
		padding: 10px;
		margin-right: -15px;
		text-align: center;
		color: #FFF;
		border-radius: 20px;	
		background-color: $cornflowerblue;
	}
	.share-link {
		padding: 10px;
	}
}
/* comment */
.comment {
	margin-top: 35px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #EEE;
}
.comment-head {
	text-align: right;
}
.comment-item {
	padding: 15px 0;
	border-bottom: 1px solid #E5E5E5;
	
	.commenter-info {
		margin-bottom: 15px;
	}
	.user-logo {
		width: 36px;
		height: 36px;
		display: inline-block;

		img {
			width: 36px;
			height: 36px;
			border-radius: 36px;
		}
	}
	.commenter-name {
		padding-left: 15px;
	}
}
.comment-footer {
	
	a {
		padding-left: 15px;
	}
	.icon-font {
		font-size: 12px;
		padding-right: 2px;
	}
}
