/* 
 * 顶部栏样式
 */
 // --------------top navbar--------------------
$top-navbar-heigth:    				  68px;
$top-navbar-vertical-padding:   10px;
$top-navbar-horizental-padding: 8px;
$top-navbar-div-height: 			  $top-navbar-heigth - 2*$top-navbar-vertical-padding;

/* Font size */
$font-size-base:    16px;
$font-size-small:   $font-size-base - 2px;
$font-size-smaller: $font-size-base - 4px;
$font-size-large:   $font-size-base + 2px;
// line height
$top-navbar-lineHeight: 48px;

/* 
 * header
 */
 .header {
 	position: fixed;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: $top-navbar-heigth;
 	padding: $top-navbar-vertical-padding $top-navbar-horizental-padding;
 	background-color: cornflowerblue;
 	z-index: 9;

 	div { height: $top-navbar-div-height; }

 	.title { display: table; }
 }
.yue-top-bar {
	margin-left: 0;
	margin-right: 0;
}
.wrap-icon {
	position: absolute;
	display: inline-block;
	width: $top-navbar-lineHeight;
	height: $top-navbar-lineHeight;
	margin-left: -10px;
	cursor: pointer;
}
.yue-left-icon {
	width: $top-navbar-lineHeight;
	display: table-cell;
	text-align: center;
	vertical-align: middle;

	svg {
		vertical-align: middle;

		path { fill: #FFF; }
	}
}

.yue-top-search{
  line-height: $top-navbar-lineHeight;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.clear-padding {
	padding-left: 0;
	padding-right: 0;
}
.yue-logo-font {
	position: absolute;
	display: inline-block;
	margin-left: 48px;

	a { 
		color: #FFF;
		font-size: 2em; 
	}
}
/* begin width < 480px下，隐藏 logo-font */
@media (max-device-width: 480px), (max-width: 480px) {
	.yue-logo-font {
		display: none;
	}
}
/* end  */
.yue-input-search {
	width: 80%;
	margin-left: 28%;
	padding-left: 10px;
	background-color: rgb(131, 164, 224);
}
// error 
@media (max-width: 750px) {
	// .yue-input-search {
	// 	width: 35%;
	// 	margin-left: 35%;
	// }
}
.yue-form-control span {
	color: #FFF;
}
// 搜索框中占位符字体颜色
.yue-form-control input::-moz-placeholder { color: #FFF; }
.yue-form-control input::-webkit-input-placeholder { color: #FFF; }
.yue-form-control input:-ms-input-placeholder { color: #FFF; }
.yue-form-control input {
	width: 100%;
	margin-left: 5px;
	padding: 2px 5px;
	font-size: $font-size-base;
	color: #FFF;
	border: none;
	/* 隐藏input　获得光标时显示的边框*/
	outline:medium;
	background-color: transparent;
}
.login {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	border-top: 0;
		white-space: nowrap;
	box-shadow: none;
	a {
		line-height: 48px;
		margin-right: 2px;
		color: rgba(255, 255, 255, .8);
		display: inline-block;

		&:hover {
			color: #FFF;
		}
	}
}
