/* 
 * 顶部栏样式
 */
 /*  op navbar  */
$top-navbar-heigth:    				  68px;
$top-navbar-vertical-padding:   10px;
$top-navbar-horizental-padding: 8px;
$top-navbar-div-height: 			  $top-navbar-heigth - 2*$top-navbar-vertical-padding;

/*  Font size  */
$font-size-base:    16px;
$font-size-small:   $font-size-base - 2px;
$font-size-smaller: $font-size-base - 4px;
$font-size-large:   $font-size-base + 2px;

/*  line height  */
$top-navbar-lineHeight: 48px;

/* 
 * header
 */
 
/********************************/
/* 2016-02-24 */
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.flex-box {
		/* 兼容旧版浏览器 */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		/* 新版浏览器 */
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
}
.vertical-center {
		/* 垂直居中 */
		-webkit-box-align: center; 
	  -moz-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
}
.horizontal-center {
	  /* 水平居中 */
	  /* 兼容旧版浏览器，移动端360浏览器，及UC */
	  -webkit-box-pack: center; 
	  -moz-box-pack: center;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  /* 新版浏览器 */
	  -webkit-justify-content: center;
		justify-content: center;
}
.md-layout {
	@extend .flex-box, .vertical-center;
	flex-flow: row nowrap;
	white-space: nowrap;
}
/* ************************** */
.top-nav {
	position: relative;
	width: 100%;
 	height: $top-navbar-heigth;
 	// padding: $top-navbar-vertical-padding $top-navbar-horizental-padding;
 	background-color: cornflowerblue;
 	z-index: 9;
	@extend .flex-box;
}
.drawer-btn {
	@extend .flex-box,.vertical-center,.horizontal-center;
	width: 68px;
	height: $top-navbar-heigth;
	background-color: orange;
	cursor: pointer;
	svg {
		fill: #FFF;
	}
}
.yue-navbar {
	height: $top-navbar-heigth;
	white-space: nowrap;
	@extend .flex-box;
	@extend .vertical-center;
}
.yue-logo-title {
	display: inline-block;
	margin-left: 10px;
	color: #FFF;
	font-size: 2em;
	-moz-user-select:　none; /*火狐*/
 　-webkit-user-select:　none; /*webkit浏览器*/
 　-ms-user-select:　none; /*IE10*/
 　-khtml-user-select:　none; /*早期浏览器*/
 　user-select:　none;
}
/* begin width < 480px下，隐藏 logo-font */
@media (max-device-width: 480px), (max-width: 480px) {
	.yue-logo-title {
		font-size: 18px;
		margin-left: 8px;
	}
	.drawer-btn {width: 48px;}
}
/* end  */

.yue-form-search {
	@extend .flex-box;
	@extend .vertical-center;
	min-height: 48px;
	padding-left: 10px;
	background-color: rgb(131, 164, 224);
}
@media (min-width: 768px) {
	.yue-form-search {
		width: 480px;
		margin-left: 60px;
	}
}
@media (min-width: 970px) {
	.yue-form-search {
		width: 600px;
	}
}
@media (min-width: 1024px) {
	.yue-form-search {
		width: 800px;
		margin-left: 120px;
	}
}
@media (max-width: 768px) {
	.yue-form-search { margin-left: 60px;}
}
@media (max-width: 480px) {
	.yue-form-search { width: 60%; margin-left: 18px;}
}
// 搜索框中占位符字体颜色
.yue-form-search input::-moz-placeholder { color: #FFF; }
.yue-form-search input::-webkit-input-placeholder { color: #FFF; }
.yue-form-search input:-ms-input-placeholder { color: #FFF; }
.yue-form-search input {
	width: 100%;
	margin-left: 5px;
	padding: 2px 5px;
	font-size: $font-size-base;
	color: #FFF;
	border: none;
	/* 隐藏input　获得光标时显示的边框*/
	outline:medium;
	background-color: transparent;
}
.search-icon {color: #FFF;}

/* nav group */
.nav-group {
	position: relative;
	width: 100%;
	min-height: 48px;
	@extend .flex-box;
	justify-content: flex-end;
 	
 	li {height: 68px;}
	a{
		display: inline-block;
		padding-left: 4px;
		color: #FFF;
	}
	.avatar {
	  width: 68px;
	  height: 68px;
	  padding-left: 0;
	  text-align: center;
	  overflow: hidden;
	  cursor: pointer;
	  @extend .flex-box,.vertical-center,.horizontal-center;

	  img {
	  	width: 58px;
	  	height: 58px; 
	  	border-radius: 48px;
		  border: 2px solid rgb(152, 83, 201);
	  }
	}
	.user-car {
		position: absolute;
		top: 68px;
		right: 0;
		width: 300px;
		display: none;
		padding-top: 10px;

		&:before {
			content: '';
			float: right;
			width: 0;
			height: 0;
			display: inline-block;
			margin-right: 25px;
			margin-top: -10px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #6495ED;
		}
	}
	
	.user-car-inner {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	}
	.user-car-top {
		@extend .flex-box,.vertical-center;
		height: 100px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #6495ED;

		img {
			width: 68px;
			height: 68px;
			border-radius: 68px;
			border: 2px solid #FFF;
		}
		.user-meta {
			padding-left: 15px;
		}
		.user-post {
			padding-top: 8px;
		}
	}
	.user-car-footer {
		position: relative;
		height: 70px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #EEE;

		a {
			position: absolute;
			color: #333;
		}
		a:nth-child(1) {
			bottom: 0;
		}
		a:nth-child(2) {
			right: 15px;
			bottom: 0;
		}
		i {
			padding-right: 8px;
		}
	}
}
@media (max-device-width: 480px), (max-width: 480px) {
	.nav-group {
		display: none;
	}
}