/* 
 * 2015-12-21
 * Variables
 */
/* Font size */
$font-size-base:    16px;
$font-size-small:   $font-size-base - 2px;
$font-size-smaller: $font-size-base - 4px;
$font-size-large:   $font-size-base + 2px;

/* heading font size */

/* backgroundcolor */
$body-bg-color: 			 #F5F5F5;
$cornflowerblue: 			 cornflowerblue;
$top-navbar-bg-color:  cornflowerblue;
$left-navbar-bg-color: null;

/* font color */
$white: #FFF;
$gray-dark: #333;

/* link font color */
$link-normal-color: #333;



