extend ../layout
block content
	include ../includes/topNavbar
	include ../includes/leftNavbar
	.row
		.yue-main-content
			.yue-content
				.col-md-6
					.yue-content-post
						.user-info
							a(href="#")
								span.glyphicon.glyphicon-user.user-logo
								span.user-name	Leiyu
						.article-title
							a(href="") Are your ready?
						img(src="/images/post-img-3.webp")
					.yue-content-post
						.user-info
							a(href="#")
								span.glyphicon.glyphicon-user.user-logo
								span.user-name	Leiyu
						.article-title
							a(href="") Are your ready?
						img.img(src="/images/post-img-2.png")
					.yue-content-post
						.user-info
							a(href="#")
								span.glyphicon.glyphicon-user.user-logo
								span.user-name	Leiyu
						.article-title
							a(href="") Are your ready?
						img(src="/images/post-img-3.webp")
				.col-md-6
					.yue-content-post
						.user-info
							a(href="#")
								span.glyphicon.glyphicon-user.user-logo
								span.user-name	Leiyu
						.article-title
							a(href="") Are your ready?Are your ready?Are your ready?Are your ready?Are your ready?
						img.img(src="/images/post-img-3.webp")
					.yue-content-post
						.user-info
							a(href="#")
								span.glyphicon.glyphicon-user.user-logo
								span.user-name	Leiyu
						.article-title
							a(href="") Are your ready?
						img(src="/images/post-img-3.webp")
					.yue-content-post
						.user-info
							a(href="#")
								span.glyphicon.glyphicon-user.user-logo
								span.user-name	Leiyu
						.article-title
							a(href="") Are your ready?
						img(src="/images/post-img-3.webp")