extend ../layout
block content
	include ../includes/topbar
	include ../includes/leftNavbar
	.container#main
		.row
			.yue-main-content
				.yue-content
					.col-md-6.col-lg-6
						.yue-content-post
							.user-info
								a(href="#" target="_blank")
									span.glyphicon.glyphicon-user.user-logo
									span.user-name Leiyu
								span.post-time 9小时前
							.article-title
								a(href="/post" target="_blank") 2015-我读过的那些书
							a.img-box(href="")
								img.img(src="/images/post-img-1.jpg")
							.post-footer
								a(href="") 
									span 阅读
									span (229)
								a(href="") 
									span 评论
									span (99)
								a(href="") 
									span 分享
								a(href="") 
									span.glyphicon.glyphicon-heart.icon-heart
						.yue-content-post
							.user-info
								a(href="#" target="_blank")
									span.glyphicon.glyphicon-user.user-logo
									span.user-name Leiyu
								span.post-time 9小时前
							.article-title
								a(href="/post" target="_blank") 10本文艺美学书教你更有质感的生活
							a.img-box(href="")
								img.img(src="/images/post-img-4.webp")
							.post-footer
								a(href="") 
									span 阅读
									span (229)
								a(href="") 
									span 评论
									span (99)
								a(href="") 
									span 分享
								a(href="") 
									span.glyphicon.glyphicon-heart.icon-heart
						.yue-content-post
							.user-info
								a(href="#" target="_blank")
									span.glyphicon.glyphicon-user.user-logo
									span.user-name Leiyu
								span.post-time 9小时前
							.article-title
								a(href="/post" target="_blank") 有了这10款逆天级效率工具，每天提前下班2小时!#DEMO8年度产品盘点#
							a.img-box(href="")
								img.img(src="/images/post-img-3.webp")
							.post-footer
								a(href="") 
									span 阅读
									span (229)
								a(href="") 
									span 评论
									span (99)
								a(href="") 
									span 分享
								a(href="") 
									span.glyphicon.glyphicon-heart.icon-heart
					.col-md-6.col-lg-6
						.yue-content-post
							.user-info
								a(href="#" target="_blank")
									span.glyphicon.glyphicon-user.user-logo
									span.user-name Leiyu
								span.post-time 9小时前
							.article-title
								a(href="/post" target="_blank") 2015-私人阅读十佳书目
							a.img-box(href="")
								img.img(src="/images/post-img-2.png")
							.post-footer
								a(href="") 
									span 阅读
									span (229)
								a(href="") 
									span 评论
									span (99)
								a(href="") 
									span 分享
								a(href="") 
									span.glyphicon.glyphicon-heart.icon-heart
						.yue-content-post
							.user-info
								a(href="#" target="_blank")
									span.glyphicon.glyphicon-user.user-logo
									span.user-name Leiyu
								span.post-time 9小时前
							.article-title
								a(href="/post" target="_blank") Are your ready?
							a.img-box(href="")
								img.img(src="/images/post-img-5.webp")
							.post-footer
								a(href="") 
									span 阅读
									span (229)
								a(href="") 
									span 评论
									span (99)
								a(href="") 
									span 分享
								a(href="") 
									span.glyphicon.glyphicon-heart.icon-heart
			.fixed-icon-pen
				a(href="/")
					span.glyphicon.glyphicon-pencil.icon-pen
	//script(src = '/libs/jquery/dist/jquery.min.js')
	//script(src = '/js/leftNavbar.js')
	script(src='/libs/requirejs/require.min.js' defer async="true")
	script(src='/libs/requirejs/require.min.js' data-main='/js/main')