doctype
html(lang="zh-CN")
	head
		meta(charset = "utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		link(href = '/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href = '/style/login.css', rel='stylesheet')
	body
		.container.login-content
			h1.logo-font 悦读
			h4.subtitle 分享您的故事，让世界听见您的声音
			form(action="/" method="").form-horizontal.login-form
					.form-group
						span.glyphicon.glyphicon-envelope.login-form-icon
						input(type="email" name="email" placeholder="您的邮箱地址").form-control
					.form-group
						span.glyphicon.glyphicon-user.login-form-icon
						input(type="text" name="user" placeholder="用户名").form-control
					.form-group
						span.glyphicon.glyphicon-lock.login-form-icon
						input(type="password" name="password" placeholder="不少于６位的密码").form-control
					.form-group
						button(type="submit").btn.btn-lg.btn-primary#login-btn 注册
		script(src = '/libs/jquery/dist/jquery.min.js')
		script(src = '/js/login.js')