doctype
html(lang="zh-CN")
	head
		meta(charset = "utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		link(href = '/style/write.css', rel='stylesheet')
		link(href = '/build/css/mditor.css', rel='stylesheet')
	body
		span.meta-btn
			i.fa.fa-reorder
		form(method="POST" action="")
			if user
				input(type="hidden", name="article[author]", value="#{user._id}")
			input(type="text" name="article[title]" placeholder="").title
			textarea(name="article[content]" id="editor")
			.checkGroup
				span#life 生活
				span#story 图片故事
				span#it IT
		.fix-bar
			ul.nav-bar
				li.logo
					a(href="/") 悦读
				li.item
					a(href="").active
						i.fa.fa-pencil.icon-font
						span.hidden-box
							i.hidden 写文章
				li.item 
					a(href="/userhome/#{user._id}" target='_blank')
						i.fa.fa-home.icon-font
						span.hidden-box
							i.hidden 我的主页
				li.item 
					a(href="")
						i.fa.fa-envelope.icon-font
						span.hidden-box
							i.hidden 收藏夹
				li.item 
					a(href="/logout")
						i.fa.fa-sign-out.icon-font
						span.hidden-box
							i.hidden 登出
	script(src='/libs/requirejs/require.min.js' defer async="true") 
	script(src='/build/js/mditor.js')
	script(src='/libs/jquery/dist/jquery.min.js')
	script(src='/js/mditor.js')
